In [2]:
import pandas as pd

In [3]:
# reading salaries.csv as a dataframe called sal
sal = pd.read_csv('/home/piotr/PycharmProjects/Python_data_science_exercises/project/Pandas_exercises/Salaries_exercises/Salaries.csv')

In [4]:
# head of the salaries DataFrame
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
# Finding how many entries
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [32]:
# average of BasePay
sal['BasePay'].mean()

66325.44884050643

In [6]:
# highest value in OvertimePay column

sal['OvertimePay'].max()

245131.88

In [8]:
# getting JOSEPH DRISCOLL info
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [10]:
# JOSEPH DRISCOLL TotalPayBenefits
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [9]:
# The highest paid person (with benefits)
maxBasePay = sal['BasePay'].max() 
maxTotalPayBenefits = sal['TotalPayBenefits'].max()
sal[(maxBasePay and maxTotalPayBenefits)]

KeyError: 567595.43000000005

In [20]:
# an average base pay
by_BasePay = sal.groupby("BasePay")
by_BasePay.mean()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>OvertimePay</th>
      <th>OtherPay</th>
      <th>Benefits</th>
      <th>TotalPay</th>
      <th>TotalPayBenefits</th>
      <th>Year</th>
      <th>Notes</th>
      <th>Status</th>
    </tr>
    <tr>
      <th>BasePay</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>-166.01</th>
      <td>72833.000000</td>
      <td>249.020000</td>
      <td>0.000000</td>
      <td>6.560000</td>
      <td>83.010000</td>
      <td>89.570000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-121.63</th>
      <td>72866.000000</td>
      <td>182.700000</td>
      <td>0.000000</td>
      <td>5.440000</td>
      <td>61.070000</td>
      <td>66.510000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-109.22</th>
      <td>72873.000000</td>
      <td>163.830000</td>
      <td>0.000000</td>
      <td>4.320000</td>
      <td>54.610000</td>
      <td>58.930000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-106.60</th>
      <td>72875.000000</td>
      <td>159.900000</td>
      <td>0.000000</td>
      <td>4.660000</td>
      <td>53.300000</td>
      <td>57.960000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-101.88</th>
      <td>72879.000000</td>
      <td>153.080000</td>
      <td>0.000000</td>
      <td>4.550000</td>
      <td>51.200000</td>
      <td>55.750000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-93.14</th>
      <td>72885.000000</td>
      <td>139.970000</td>
      <td>0.000000</td>
      <td>4.170000</td>
      <td>46.830000</td>
      <td>51.000000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-87.38</th>
      <td>72889.000000</td>
      <td>131.060000</td>
      <td>0.000000</td>
      <td>3.890000</td>
      <td>43.680000</td>
      <td>47.570000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-75.67</th>
      <td>72895.000000</td>
      <td>113.760000</td>
      <td>0.000000</td>
      <td>3.390000</td>
      <td>38.090000</td>
      <td>41.480000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-59.59</th>
      <td>72909.000000</td>
      <td>89.650000</td>
      <td>0.000000</td>
      <td>2.680000</td>
      <td>30.060000</td>
      <td>32.740000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-30.58</th>
      <td>72921.000000</td>
      <td>45.870000</td>
      <td>0.000000</td>
      <td>1.360000</td>
      <td>15.290000</td>
      <td>16.650000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>-9.50</th>
      <td>72923.000000</td>
      <td>14.250000</td>
      <td>0.000000</td>
      <td>0.420000</td>
      <td>4.750000</td>
      <td>5.170000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>0.00</th>
      <td>82843.394453</td>
      <td>169.263066</td>
      <td>4496.862589</td>
      <td>1223.155851</td>
      <td>4666.125655</td>
      <td>5463.344337</td>
      <td>2012.308166</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6.04</th>
      <td>148620.000000</td>
      <td>0.000000</td>
      <td>10.050000</td>
      <td>2.300000</td>
      <td>16.090000</td>
      <td>18.390000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>14.25</th>
      <td>36088.000000</td>
      <td>0.000000</td>
      <td>56.140000</td>
      <td>NaN</td>
      <td>70.390000</td>
      <td>70.390000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15.50</th>
      <td>148621.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.160000</td>
      <td>15.500000</td>
      <td>15.660000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>15.83</th>
      <td>110520.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.160000</td>
      <td>15.830000</td>
      <td>15.990000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17.26</th>
      <td>148618.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.040000</td>
      <td>17.260000</td>
      <td>21.300000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>17.48</th>
      <td>36151.000000</td>
      <td>0.000000</td>
      <td>0.300000</td>
      <td>NaN</td>
      <td>17.780000</td>
      <td>17.780000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>18.81</th>
      <td>110514.000000</td>
      <td>0.000000</td>
      <td>3.760000</td>
      <td>3.900000</td>
      <td>22.570000</td>
      <td>26.470000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>19.97</th>
      <td>148614.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.300000</td>
      <td>19.970000</td>
      <td>24.270000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21.22</th>
      <td>148611.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>4.990000</td>
      <td>21.220000</td>
      <td>26.210000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21.48</th>
      <td>148617.000000</td>
      <td>0.000000</td>
      <td>0.860000</td>
      <td>0.220000</td>
      <td>22.340000</td>
      <td>22.560000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>21.76</th>
      <td>148609.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>7.270000</td>
      <td>21.760000</td>
      <td>29.030000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>23.08</th>
      <td>72919.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.070000</td>
      <td>23.080000</td>
      <td>23.150000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>25.00</th>
      <td>110515.500000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.250000</td>
      <td>25.000000</td>
      <td>25.250000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26.34</th>
      <td>110513.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.260000</td>
      <td>26.340000</td>
      <td>26.600000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26.38</th>
      <td>72913.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>2.310000</td>
      <td>26.380000</td>
      <td>28.690000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>26.94</th>
      <td>148610.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.270000</td>
      <td>26.940000</td>
      <td>27.210000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27.28</th>
      <td>36143.500000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>NaN</td>
      <td>27.280000</td>
      <td>27.280000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>27.63</th>
      <td>36139.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>NaN</td>
      <td>27.630000</td>
      <td>27.630000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>270756.03</th>
      <td>72939.000000</td>
      <td>0.000000</td>
      <td>24181.020000</td>
      <td>77474.920000</td>
      <td>294937.050000</td>
      <td>372411.970000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>271329.03</th>
      <td>14.000000</td>
      <td>0.000000</td>
      <td>21342.590000</td>
      <td>NaN</td>
      <td>292671.620000</td>
      <td>292671.620000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>271607.74</th>
      <td>36165.000000</td>
      <td>0.000000</td>
      <td>19782.030000</td>
      <td>84681.820000</td>
      <td>291389.770000</td>
      <td>376071.590000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>271831.50</th>
      <td>72954.000000</td>
      <td>0.000000</td>
      <td>5000.000000</td>
      <td>75511.720000</td>
      <td>276831.500000</td>
      <td>352343.220000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>272855.51</th>
      <td>72929.000000</td>
      <td>23727.910000</td>
      <td>38954.540000</td>
      <td>66198.920000</td>
      <td>335537.960000</td>
      <td>401736.880000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>274126.50</th>
      <td>72945.000000</td>
      <td>0.000000</td>
      <td>13358.100000</td>
      <td>75909.100000</td>
      <td>287484.600000</td>
      <td>363393.700000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>278964.00</th>
      <td>72947.250000</td>
      <td>0.000000</td>
      <td>7772.347500</td>
      <td>76467.332500</td>
      <td>286736.347500</td>
      <td>363203.680000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>279839.22</th>
      <td>110550.000000</td>
      <td>0.000000</td>
      <td>2164.540000</td>
      <td>82884.270000</td>
      <td>282003.760000</td>
      <td>364888.030000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>281537.17</th>
      <td>110551.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>83277.340000</td>
      <td>281537.170000</td>
      <td>364814.510000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>282619.96</th>
      <td>110548.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>82941.180000</td>
      <td>282619.960000</td>
      <td>365561.140000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>285262.00</th>
      <td>10.000000</td>
      <td>0.000000</td>
      <td>17115.730000</td>
      <td>NaN</td>
      <td>302377.730000</td>
      <td>302377.730000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>285446.37</th>
      <td>72946.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>77105.290000</td>
      <td>285446.370000</td>
      <td>362551.660000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>286480.44</th>
      <td>72936.000000</td>
      <td>0.000000</td>
      <td>17188.710000</td>
      <td>80077.630000</td>
      <td>303669.150000</td>
      <td>383746.780000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>287747.89</th>
      <td>36167.000000</td>
      <td>0.000000</td>
      <td>5274.570000</td>
      <td>81824.370000</td>
      <td>293022.460000</td>
      <td>374846.830000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>294000.17</th>
      <td>36166.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>82001.940000</td>
      <td>294000.170000</td>
      <td>376002.110000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>294000.18</th>
      <td>110542.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>85918.540000</td>
      <td>294000.180000</td>
      <td>379918.720000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>294580.02</th>
      <td>13.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>NaN</td>
      <td>294580.020000</td>
      <td>294580.020000</td>
      <td>2011.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>296943.01</th>
      <td>36163.000000</td>
      <td>0.000000</td>
      <td>17816.590000</td>
      <td>72047.880000</td>
      <td>314759.600000</td>
      <td>386807.480000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>302068.00</th>
      <td>110536.000000</td>
      <td>0.000000</td>
      <td>24165.440000</td>
      <td>91201.660000</td>
      <td>326233.440000</td>
      <td>417435.100000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>302578.00</th>
      <td>36161.000000</td>
      <td>0.000000</td>
      <td>18974.110000</td>
      <td>69810.190000</td>
      <td>321552.110000</td>
      <td>391362.300000</td>
      <td>2012.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>305307.89</th>
      <td>72934.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>80860.600000</td>
      <td>305307.890000</td>
      <td>386168.490000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>307450.04</th>
      <td>110535.000000</td>
      <td>0.000000</td>
      <td>19266.720000</td>
      <td>91302.460000</td>
      <td>326716.760000</td>
      <td>418019.220000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>310161.02</th>
      <td>110539.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>88823.510000</td>
      <td>310161.020000</td>
      <td>398984.530000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>311298.55</th>
      <td>110538.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>89772.320000</td>
      <td>311298.550000</td>
      <td>401070.870000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>311758.96</th>
      <td>72933.000000</td>
      <td>0.000000</td>
      <td>1098.640000</td>
      <td>82476.850000</td>
      <td>312857.600000</td>
      <td>395334.450000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>313312.52</th>
      <td>72932.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>82319.510000</td>
      <td>313312.520000</td>
      <td>395632.030000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>313686.01</th>
      <td>72927.000000</td>
      <td>0.000000</td>
      <td>23236.000000</td>
      <td>85431.390000</td>
      <td>336922.010000</td>
      <td>422353.400000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>315572.01</th>
      <td>72930.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>82849.660000</td>
      <td>315572.010000</td>
      <td>398421.670000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>318835.49</th>
      <td>110533.000000</td>
      <td>10712.950000</td>
      <td>60563.540000</td>
      <td>89540.230000</td>
      <td>390111.980000</td>
      <td>479652.210000</td>
      <td>2014.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>319275.01</th>
      <td>72926.000000</td>
      <td>0.000000</td>
      <td>20007.060000</td>
      <td>86533.210000</td>
      <td>339282.070000</td>
      <td>425815.280000</td>
      <td>2013.000000</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>109489 rows × 9 columns</p>
</div>